name: lint code
on: [push, pull_request]
jobs:
  luacheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: lunarmodules/luacheck@v1
        with:
          args: . --std luajit --globals vim _toggle_lazygit _command_panel --max-line-length 150 --no-config
